@import '../common/index.scss';

$prefix: #{$defaultPrefix}-Popover;

.#{$prefix} {
  position: fixed;
  z-index: 999;
  left: 0;
    top: 0;
  &__Content {
    position: absolute;
  }
  &__Backdrop {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
  &--scrollable {
    width: 0;
    height: 0;
  }
}
