@import '../common/index.scss';

$prefix: #{$defaultPrefix}-Button;

$bgColorLight: $primaryColorLight;
$color: $antiTextColor;
$clipPath: polygon(20% 0, 100% 0, 100% 40%, 80% 100%, 0 100%, 0 60%);

.#{$prefix} {
  position: relative;
  padding: 6px 20px;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: $fontSize-normal;
  color: $color;
  border: none;
  outline: none;
  border-radius: 1px;
  clip-path: $clipPath;
  &:before {
    // content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background: linear-gradient(-60deg, transparent 0%, $primaryColor 50%, transparent 100%);
    background: linear-gradient(-60deg, transparent 0%, $primaryColor 10%, $primaryColor 90%, transparent 100%);
  }

  &:disabled {
    background-color: $hintColor;
    cursor: not-allowed;
    &:hover,
    &:active {
      background-color: $hintColor;
    }
  }
  &:focus {
    &:before {
      animation: radar 1s ease-in-out infinite alternate-reverse;
    }
  }
  &--small {
    padding: 4px 16px;
    font-size: $fontSize-small;
    border-radius: 0;
  }
  &--big {
    padding: 10px 30px;
    font-size: $fontSize-big;
    border-radius: 2px;
  }
  &--text {
    color: $primaryColor;
    @include unsetBgc();
    &:hover {
      background-color: rgba($primaryColor, 0.1);
    }
    &:active {
      background-color: rgba($primaryColor, 0.2);
    }
    &:focus {
      &:after {
        display: none;
      }
    }
    &:disabled {
      // border-color: $hintColor;
      color: $hintColor;
      @include unsetBgc();
      &:hover,
      &:active {
        @include unsetBgc();
        text-shadow: none;
      }
    }
  }
  &--fill {
    color: $backgroundColor;
    background-color: $primaryColor;
    &:hover {
      background-color: rgba($primaryColor, 0.9);
    }
    &:active {
      background-color: rgba($primaryColor, 0.8);
    }
  }
  &--frame {
    color: $primaryColor;
    background-color: $primaryColor;
    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      $size: 1px;
      top: $size;
      left: $size;
      right: $size;
      bottom: $size;
      clip-path: $clipPath;
      background-color: $backgroundColor;
    }
    &:hover {
      &:after {
        background-color: rgba($backgroundColor, 0.8);
      }
    }
    &:active {
      &:after {
        background-color: rgba($backgroundColor, 0.7);
      }
    }
    &:disabled {
      color: $hintColor;
      background-color: $hintColor;
      &:hover {
        &:after {
          background-color: $backgroundColor;
        }
      }
    }
  }
}

@keyframes radar {
  from {
    transform: scaleX(0.8);
  }
  to {
    transform: scaleY(1);
  }
}
